<a href="https://colab.research.google.com/github/SarathSabu/Python-Notebooks/blob/main/Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Credit to ASTG Python Courses

# <font color="red">Objectives</font>
In this presentation we want to introduce the four basic built-in data structures in Python:
* Lists
* Dictionary
* Tuple
* Set

## <font color="red">Lists</font>

* A list is data structure that holds ordered collections of data in the square brackets `[]` separated by a comma.
   - Can contain unlimited data depending upon the limitation of your computer's memory.
* Elements can be accessed by index.
* Grow and shrink as needed.
* <font color='blue'> Can contain a mix of types </font>
* <font color='blue'>Are mutable</font>: you can change their content without changing their identity.

**Initialization**

An empty list:

In [ ]:
empty_list = []

In [ ]:
type(empty_list)

list

Create a list that is not empty:

In [ ]:
some_primes = [2, 3, 5, 7, 11, 13, 17, 19]
fruits = ['apple', 'mango', 'orange', 'kiwi', 'blueberry']

In [ ]:
type(fruits)

list

**Access elements**

In [ ]:
print(fruits[1])

mango

In [ ]:
print(fruits[-2])

kiwi

In [ ]:
print(fruits[2:4])  # last index is excluded

['orange', 'kiwi']

In [ ]:
print(some_primes[0::2])   # [start,end,step]

[2, 5, 11, 17]

**Iterate over a List**

This is how one iterates over a list:

In [ ]:
for i in fruits:
    print(i)

apple
mango
orange
kiwi
blueberry

What does the following iteration return?

In [ ]:
for i in fruits[::2]:
    print(i)

apple
orange
blueberry

Print the items on the list in reversed order:

In [ ]:
for item in (range(len(fruits)-1, -1)):
    print(fruits[item])

**len(fruits)**: This gets the length (number of items) in the fruits list.

**len(fruits) - 1**:  Since list indices start at 0 in Python, the last item in the list has an index of len(fruits) - 1. This is the starting point for our reverse iteration.

**range(len(fruits)-1, -1, -1)**: This creates a range object that generates a sequence of numbers:

len(fruits)-1: The starting number (index of the last item).
-1: The stopping number (exclusive). This means the loop will iterate until it reaches index 0.
-1: The step size. This indicates that the loop will decrement the index by 1 in each iteration, effectively going in reverse.
for item in ...: This is a for loop that iterates through each number generated by the range object. In each iteration, the item variable will hold the current index.

Same as above:

In [ ]:
for item in reversed(fruits):
    print(item)

blueberry
kiwi
orange
mango
apple

Sometimes we need to loop over a list and retrieve the element and its correponding index.

In [ ]:
for i in range(len(fruits)):
    print (f"{i} --> {fruits[i]}")

0 --> apple
1 --> mango
2 --> orange
3 --> kiwi
4 --> blueberry

`f"{i} --> {fruits[i]}"`: This is an `f-string` (formatted string literal) that creates a string with the following format: "index --> fruit". The values of i and fruits[i] are inserted into the string.

The `enumerate` function  gives us an iterable where each element is an object (called a tuple) that contains the index of the item and the original item value.

In [ ]:
for i, name in enumerate(fruits, start=0): # optional start=1 argument
    print (f"{i}: {name}")

0: apple
1: mango
2: orange
3: kiwi
4: blueberry

Looping over two lists.

In [ ]:
colors = ['red', 'yellow','orange', 'green', 'blue']
for i in range(len(fruits)):
    print(f'{fruits[i]} ---> {colors[i]}')

apple ---> red
mango ---> yellow
orange ---> orange
kiwi ---> green
blueberry ---> blue

Use the `zip()` function

In [ ]:
for item, color in zip(fruits, colors):
    print(f'{item} ---> {color}')

apple ---> red
mango ---> yellow
orange ---> orange
kiwi ---> green
blueberry ---> blue

Finding the index of an item:

In [ ]:
print(fruits.index('apple'))

0

In [ ]:
for item in fruits:
    print(f'{fruits.index(item)} ---> {item}')

0 ---> apple
1 ---> mango
2 ---> orange
3 ---> kiwi
4 ---> blueberry

### <font color="purple"> Going Deeper: Lists are Mutable</font>

- We use the `id` function that returns a unique id for the specified object.
- Each Python object has its own unique id.
- The id is assigned to the object when it is created.
- The id is the object's memory address, and will be different for each time you run the program.
- When you modify the list, its ID remains the same because it's still the same object in memory.

In [ ]:
print(f'I have {len(fruits)} fruits')
print(f'    --> The list ID is {id(fruits)}')

I have 5 fruits
    --> The list ID is 133231092155456

In [ ]:
print ('I also have to buy a banana.')
fruits.append('banana')
print(f'My list of fruits is now: {fruits}')
print(f'       --> The list ID is: {id(fruits)}')

I also have to buy a banana.
My list of fruits is now: ['apple', 'mango', 'orange', 'kiwi', 'blueberry', 'banana']
       --> The list ID is: 133231092155456

In [ ]:
print ('I will sort my list now')
fruits.sort()
# Note that the sort is done ON the list, i.e. it is mutated
print(f'Sorted list of fruits is: {fruits}')
print(f'      --> The list ID is: {id(fruits)}')

I will sort my list now
Sorted list of fruits is: ['apple', 'banana', 'blueberry', 'kiwi', 'mango', 'orange']
      --> The list ID is: 133231092155456

**Editing Lists**

Adding an item: `append()`

In [ ]:
fruits.append('apple')
print(fruits)

['apple', 'banana', 'blueberry', 'kiwi', 'mango', 'orange', 'apple']

Extending (like +) a list: `extend()`

In [ ]:
morefruits = ['guava', 'peach']
fruits.extend(morefruits)
print (fruits)

['apple', 'banana', 'blueberry', 'kiwi', 'mango', 'orange', 'apple', 'guava', 'peach']

Inserting an item in a list: `insert(index, item)`

In [ ]:
fruits.insert(2, 'pineapple')
print(fruits)

['apple', 'banana', 'pineapple', 'blueberry', 'kiwi', 'mango', 'orange', 'apple', 'guava', 'peach']

Deleting the an entry: `pop()`

In [ ]:
# Last entry
fruits.pop()
print(fruits)

['apple', 'banana', 'pineapple', 'blueberry', 'kiwi', 'mango', 'orange', 'apple', 'guava']

In [ ]:
# Specific entry
fruits.pop(2)
print(fruits)

['apple', 'banana', 'blueberry', 'kiwi', 'mango', 'orange', 'apple', 'guava']

Deleting the entire list and create an empty list: `clear()`

In [ ]:
fruits.clear()
print(fruits)

[]

### <font color="purple"> Going Deeper: Lists are flexible containers</font>

In [ ]:
# Mixed types
P = ['Wednesday', 'April', 5, 2017, ('a','b','c')]
print (P[0:4])
print (P[4])

['Wednesday', 'April', 5, 2017]
('a', 'b', 'c')

In [ ]:
# Multi-dimensional list
A = [[1, 3], [2, 4], [1, 9], [4, 16]]
print (A[0])
print (A[2][0])

[1, 3]
1

**Basic List Operations**

| **Python Expression** | **Results** | **Description** |
| --- | --- | --- |
| len([1, 2, 3]) | 3 | Length |
| [1, 2, 3] + [4, 5, 6] | [1, 2, 3, 4, 5, 6] | Concatenation|
| ['Hi!'] * 4 | ['Hi!', 'Hi!', 'Hi!', 'Hi!'] | Repetition |
| 3 in [1, 2, 3] | True | Membership |
| for x in [1, 2, 3]: print(x)  | 1 2 3 | Iteration |

---

## <font color="red">Tuple</font>

* A tuple is an ordered sequence of elements.
* Defined by enclosing the elements in parentheses `( )`, separated by a comma.
* Used for fixed data
  * <font color='blue'>Is immutable</font>: once defined you cannot delete, add or edit any values inside it.
* A tuple is used in scenarios where it is certain that the (set of) values belonging to some statement or a user-defined function will not change.
* Accessing elements of a tuple is faster than that of a list.

#### Initialization

In [ ]:
empty_tuple = tuple()
type(empty_tuple)

tuple

In [ ]:
primes = (2, 3, 5, 7, 11, 13)
print(type(primes))

<class 'tuple'>

In [ ]:
planets = ('mercury', 'venus', 'earth', 'mars', 'jupiter',
           'saturn', 'uranus', 'neptune')
print(type(planets))

<class 'tuple'>

In [ ]:
print (f'Number of planets in our solar system is: {len(planets)}')

Number of planets in our solar system is: 8

Tuples are simple objects. Two methods only:

Count the number of occurence of a value:

In [ ]:
print(planets.count('earth'))

1

Find occurence of a value:

In [ ]:
print(planets.index('mars'))

3

### Some Interests in Tuples
- Protect the data, which is immutable (*)
- Tuples make the code safe from any accidental modification.
- Assigning multiple values

### <font color="purple">Going Deeper: Memory Access in Tuples</font>

Consisder the tuple `a_mutable_tuple` that has as entry the list `solar_system_list`.

In [ ]:
solar_system_list = ['mercury', 'venus', 'earth', 'mars',
                     'jupiter', 'saturn', 'uranus', 'neptune']

a_mutable_tuple = (solar_system_list, 'pluto')

In [ ]:
a_mutable_tuple

(['mercury',
  'venus',
  'earth',
  'mars',
  'jupiter',
  'saturn',
  'uranus',
  'neptune'],
 'pluto')

- A tuple is an immutable object (cannot be changed).
- However in our example, the tuple `a_mutable_tuple` contains a mutable object (a list).
- Could we modify the list and still keep the same tuple?

In [ ]:
print(f"Original tuple: {a_mutable_tuple}")
print(f"ID of tuple:    {id(a_mutable_tuple)}")

Original tuple: (['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune'], 'pluto')
ID of tuple:    133231366808448

In [ ]:
a_mutable_tuple[0][2] = 'EARTH'

In [ ]:
print(f"Modified tuple: {a_mutable_tuple}")
print(f"ID of tuple:    {id(a_mutable_tuple)}")

Modified tuple: (['mercury', 'venus', 'EARTH', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune'], 'pluto')
ID of tuple:    133231366808448

### Other Operations

Assigning multiple values:

In [ ]:
(x, y, z) = ['a','b','c']
x, y, z

('a', 'b', 'c')

## <font color="red">Dictionary</font>

* A dictionary is an associative data structure of variable length.
* A dictionary consists of an ordered collection of `key:value` pairs separated by commas inside curly brackets `{}`.
* Each key-value pair maps the key to its associated value.
* A key should be unique and an immutable object.
* <font color='blue'>A dictionary is mutable</font>.

#### Initialization

Empty dictionary:

In [ ]:
empty_dict = dict()

In [ ]:
type(empty_dict)

dict

Ways for creating dictionaries:

In [ ]:
daily_temps = dict()
daily_temps['mon'] = 70.2
daily_temps['tue'] = 67.2
daily_temps['wed'] = 71.8
daily_temps['thu'] = 73.2
daily_temps['fri'] = 75.6

In [ ]:
daily_temps1 = {'mon': 70.2, 'tue': 67.2, 'wed': 71.8, 'thu': 73.2, 'fri': 75.6}

In [ ]:
daily_temps2 = dict([('mon', 70.2), ('tue', 67.2),
                     ('wed', 71.8), ('thu', 73.2),
                     ('fri', 75.6)])

In [ ]:
daily_temps3 = dict(mon=70.2, tue=67.2, wed=71.8, thu=73.2, fri=75.6)

In [ ]:
days = ['mon', 'tue', 'wed','thu','fri']
temps = [70.2, 67.2, 71.8, 73.2, 75.6]
daily_temps4 = dict(zip(days, temps))

**Note that you can use only immutable objects for the keys of a dictionary but you can use either immutable or mutable objects for the values of the dictionary.**

**`Keys`**: The keys in a dictionary must be immutable. This means they cannot be changed after they are created. Examples of immutable objects in Python include:

`Integers (int)`

`Floating-point numbers (float)`

`Strings (str)`

`Tuples (tuple)`

**`Values`**: The values in a dictionary can be either immutable or mutable. Mutable objects can be changed after they are created. Examples of mutable objects include:

`Lists (list)`

`Dictionaries (dict)`

`Sets (set)`

#### Access elements
- Dictionary elements are accessed via keys.
- A value is retrieved from a dictionary by specifying its corresponding key in square brackets (`[` `]`)

Square brackets are used for accessing elements:

In [ ]:
daily_temps['wed']

71.8

List all the keys in a dictionary: `keys()` function

In [ ]:
daily_temps.keys()

dict_keys(['mon', 'tue', 'wed', 'thu', 'fri'])

List all the values in a dictionary: `value()` function

In [ ]:
daily_temps.values()

dict_values([70.2, 67.2, 71.8, 73.2, 75.6])

List all the pairs of keys and values in a dictionary: `items()` function

In [ ]:
daily_temps.items()

dict_items([('mon', 70.2), ('tue', 67.2), ('wed', 71.8), ('thu', 73.2), ('fri', 75.6)])

Check if a given key belongs to a dictionary:

In [ ]:
'fri' in daily_temps

True

**Keys must be immutable.**

Keys in a dictionary can be tuples (immutable objects):

In [ ]:
temps = {('June',10,2019): 75.2, 'June-11-2019': 77.2, 3:88.9}

# Access with a tuple
temps[3]

88.9

### Looping over a Dictionary

**Loop over keys**

In [ ]:
for day in daily_temps:
    print(day)

mon
tue
wed
thu
fri

In [ ]:
for day in daily_temps:
    print(f"Key: {day} and Value: {daily_temps[day]}")

Key: mon and Value: 70.2
Key: tue and Value: 67.2
Key: wed and Value: 71.8
Key: thu and Value: 73.2
Key: fri and Value: 75.6

**Loop over keys and values**

In [ ]:
for day, temp in daily_temps.items():
    print(day, temp)

mon 70.2
tue 67.2
wed 71.8
thu 73.2
fri 75.6

**Example**

In [ ]:
colors = ['red','orange','yellow','green','blue','indigo','violet']
d = dict()

In [ ]:
for color in colors:
    key = len(color)
    if key not in d:
        d[key] = []
    d[key].append(color)
print(f"d: {d}")

d: {3: ['red'], 6: ['orange', 'yellow', 'indigo', 'violet'], 5: ['green'], 4: ['blue']}

### <font color="purple">Edit a Dictionary (add, delete items)</font>

In [ ]:
print(daily_temps2)

{'mon': 70.2, 'tue': 67.2, 'wed': 71.8, 'thu': 73.2, 'fri': 75.6}

Adding a new entry:

In [ ]:
daily_temps2.update({'sat': 32.3, 'sun': 76.8})
print(daily_temps2)

{'mon': 70.2, 'tue': 67.2, 'wed': 71.8, 'thu': 73.2, 'fri': 75.6, 'sat': 32.3, 'sun': 76.8}

Deleting an item:

In [ ]:
del daily_temps2["wed"]
print(daily_temps2)

{'mon': 70.2, 'tue': 67.2, 'thu': 73.2, 'fri': 75.6, 'sat': 32.3, 'sun': 76.8}

In [ ]:
removed_value = daily_temps2.pop('fri')
print("Removed value:      {}".format(removed_value))
print("Updated dictionary: {}".format(daily_temps2))

Removed value:      75.6
Updated dictionary: {'mon': 70.2, 'tue': 67.2, 'thu': 73.2, 'sat': 32.3, 'sun': 76.8}

### Useful Function Assiociated with Dictionaries

Assume that `d` is a dictionary.

| Function | Description |
| --- | --- |
| `d.get(<key>[, <default>])` | Returns the value for a key if it exists in the dictionary. |
| `d.items()` | Returns a list of key-value pairs in a dictionary. |
| `d.keys()` | Returns a list of keys in a dictionary. |
| `d.values()` | Returns a list of values in a dictionary. |
| `d.pop(<key>[, <default>])` | Removes a key from a dictionary, if it is present, and returns its value. |
| `d.popitem()` | Removes the last key-value pair added from d and returns it as a tuple. |
| `d.update()` | Merges a dictionary with another dictionary or with an iterable of key-value pairs. |
| `d.clear()` | Empties a dictionary of all key-value pairs. |

## <font color="red">Set</font>

* A sequence used to store non-duplicate data.
* Data is unordered.
* <font color='blue'>mutable</font>.

#### Initialization

In [ ]:
empty_set = set()
type(empty_set)

set

In [ ]:
fibo = {1, 1, 2, 3, 5}
print(type(fibo))
print("Set fibo:", fibo)

<class 'set'>
Set fibo: {1, 2, 3, 5}

In [ ]:
fibo[0]   # not possible - data is unordered!

TypeError: 'set' object is not subscriptable

In [ ]:
some_primes = [1, 1, 2, 2, 3, 3, 5, 5]
primes = set(some_primes)
print("Set primes:", primes)

Set primes: {1, 2, 3, 5}

#### Mathematical set operations

In [ ]:
a = set([1, 2, 3, 4])
b = set([3, 4, 5, 6])

Union or `a.union(b)`:

In [ ]:
a | b

{1, 2, 3, 4, 5, 6}

Intersection  or `a.intersection(b)`:

In [ ]:
a & b

Subset or `a.issubset(b)`:

In [ ]:
a.issubset(b)

Difference or `a.difference(b)`:

In [ ]:
a - b

---

## Quiz

- What are the differences between a list and a tuple?
- Name two ways to build a list containing five integer zeros.
- Name four operations that change a list object in place.
- How can you determine how large a tuple is?
- Write an expression that changes the first item in a tuple. For example (4, 5, 6) should become (1, 5, 6) in the process.
- Name two ways to build a dictionary with two keys, a and b, each having an associated value of 0.
- Name four operations that change a dictionary object in place
- The union() method returns a new set with all items from both sets by removing duplicates. True or False?
- What is the correct way to remove an element form a set?

---

In [ ]:
## <font color="red">Going Deeper: Copying Objects in Python</font>

- Assignment statements in Python do not create copies of objects, they only bind names to an object.
- For immutable objects, that usually doesnt make a difference.
- But for working with mutable objects or collections of mutable objects, you might be looking for a way to create real copies or clones of these objects.
- Python creates real copies only if it has to, i.e. if the user, the programmer, explicitly demands it.

**<font color="blue">Shallow Copies in Python</font>**

- A shallow copy also makes a separate new object object, but instead of copying the child elements to the new object, it simply copies the references to their memory addresses.
- If you make a change in the original object, it would reflect in the copied object, and vice versa.
- Both the copies are dependent on each other.

**Example 1**

In [ ]:
a = [[90, 85, 82], [72, 88, 90]]
print(id(a))

In [ ]:
b = a
print(id(b))

In [ ]:
b.append(23)
print("a: ", a)
print("b: ", b)

In [ ]:
print('EQUAL?:', (a == b))
print('SAME ?:', (a is b))

Changing `b` also changes `a` because they both refer to the same `list` object.

**Example 2: Copying by Slicing**

- Slicing creates a new object.

In [ ]:
a = [[90, 85, 82], [72, 88, 90]]
print(id(a))
b = a[0:]
print("b: ", b)
print(id(b))

In [ ]:
print('EQUAL?:', (a == b))
print('SAME ?:', (a is b))

- The items of list `b` are the same as those of list `a`.
- `a` and `b` are different objects, **BUT**

In [ ]:
b[0][0] = 30
print("b: ", b)
print("a: ", a)

In [ ]:
print('EQUAL?:', (a == b))
print('SAME ?:', (a is b))

**Example 3: Copying Using the `list()` Function**

- The `list()` function is used to create a list object from any iterable.

In [ ]:
a = [[90, 85, 82], [72, 88, 90]]
print(id(a))
b = list(a)
print("b: ", b)
print(id(b))

In [ ]:
b[0][0] = 30
print("b: ", b)
print("a: ", a)

In [ ]:
print('EQUAL?:', (a == b))
print('SAME ?:', (a is b))

**Example 4: Copying using the `copy()` Function**

In [ ]:
import copy

a = [[90, 85, 82], [72, 88, 90]]
print(id(a))
print(a)
b = copy.copy(a)
print(id(b))

# Change first year and first subject's marks to 30
b[0][0] = 30

print("Original List: ", a)
print("Shallow Copy:  ", b)

In [ ]:
print('EQUAL?:', (a == b))
print('SAME ?:', (a is b))

**<font color="blue">Deep Copies in Python</font>**

- A deep copy makes a new and separate copy of an entire object with its own unique memory address.
- Any changes you make in the new copy of the object will not reflect in the original one.
- This process happens by first creating a new object, followed by recursively copying the elements from the original one to the new one.
- Both of the objects are completely independent of each other.

In [ ]:
import copy

a = [[90, 85, 82], [72, 88, 90]]
b = copy.deepcopy(a)

# Change first year and first subject's marks to 30
b[0][0] = 30

print("Original List: ", a)
print("Deep Copy:     ", b)

In [ ]:
print('EQUAL?:', (a == b))
print('SAME ?:', (a is b))